<nav class="navbar navbar-dark bg-primary">
    <div class="navbar-brand ">
      <h3 >Joke Library</h3>
    </div>
</nav>

<div class="container">
  <div id="joke-input" style="text-align:center">
  <form>
      <div class="form-group">
          <label for="jokeInput"></label>
          <textarea class="form-control" id="jokeInput" rows="3" 
          placeholder="Jot down that joke!" [formControl]="jokeData"></textarea>
      </div>
      <button class="btn btn-primary" (click)="addJoke()">Add Joke</button>
  </form>
  </div>

  <div *ngFor="let joke of jokes" id="jokeList">
    <joke [jokeModel]="joke"></joke>
  </div>
</div>